* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "BPG WEB 001 Caps";
  src: url("../fonts/bpg-web-001-caps-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-web-001-caps-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/bpg-web-001-caps-webfont.woff2") format("woff2"),
    url("../fonts/bpg-web-001-caps-webfont.woff") format("woff"),
    url("../fonts/bpg-web-001-caps-webfont.ttf") format("truetype"),
    url("../fonts/bpg-web-001-caps-webfont.svg#bpg_web_001_capsregular")
      format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "BPG WEB 001 Caps";
  src: url(../fonts/bpg-web-001-caps-webfont.eot);
  src: url(../fonts/bpg-web-001-caps-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/bpg-web-001-caps-webfont.woff2) format("woff2"),
    url(../fonts/bpg-web-001-caps-webfont.woff) format("woff"),
    url(../fonts/bpg-web-001-caps-webfont.ttf) format("truetype"),
    url(../fonts/bpg-web-001-caps-webfont.svg#bpg_web_001_capsregular)
      format("svg");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.woff2") format("woff2"),
    url("../fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.elevator-page {
  position: relative;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  padding: 0 0 0 60px;
}

.main-logo {
  max-width: 122px;
  width: 100%;
  height: 48px;
  margin: 30px 10px 0;
}

.main-logo img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.menu-bar {
  display: none;
  position: relative;
}

.menu-bar img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.navigation-bar {
  margin-top: 30px;
  margin-left: 120px;
}

.navigation-bar ul .li-list {
  position: relative;
  display: inline;
  margin-right: 40px;
}

.navigation-bar ul .li-list:not(:nth-child(3))::after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 14px;
  background-color: #fdb417;
  display: inline-block;
  z-index: 1;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  opacity: 0;
  transition: all 0.4s;
}

.navigation-bar ul .li-list:hover::after {
  opacity: 1;
  width: 100%;
}

.navigation-bar ul .li-list a {
  font-size: 16px;
  text-decoration: none;
  color: #232628;
  position: relative;
}

.navigation-bar ul .li-list .service-arrow-image::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/arrow.svg);
  right: -14px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}

.navigation-bar ul .li-list .service-box {
  background-color: transparent;
  position: absolute;
  left: 22%;
  transform: translateX(-20%) translateY(-11px);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  width: 100px;
  cursor: pointer;
  transition: all 0.4s;
}

.navigation-bar ul .li-list .service-box ul {
  background-color: #f2f5fa;
  width: 260px;
  margin-top: 30px;
  /* display: none; */
}

.navigation-bar ul .li-list .service-box li {
  list-style: none;
  /* transition: 0.3s; */
  cursor: pointer;
}

.navigation-bar ul .li-list .service-box li a {
  display: block;
  background-color: #f2f5fa;
  padding: 10px;
  transition: all 0.1s;
}

.navigation-bar ul .li-list .service-box li a:hover {
  color: #fff;
  background-color: #fdb417;
}

.navigation-bar ul .li-list:hover .service-box {
  opacity: 1;
  visibility: visible;
}

.navigation-bar ul .li-list:hover a:before {
  transform: translateY(-50%) rotate(180deg);
}

.main-container {
  position: relative;
  background-image: url(../images/cover.png);
  width: 100%;
  /* height: calc(100vh - 77px); */
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 147px 0 24px;
}

.main-heading {
  max-width: 788px;
  width: 100%;
  color: #232628;
}

.main-heading h2 {
  font-family: "BPG WEB 001 Caps", sans-serif;
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
}

.main-heading h1 {
  font-family: "BPG WEB 001 Caps", sans-serif;
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
}

.heading-paragraph {
  max-width: 449px;
  width: 100%;
  margin-top: 24px;
}

.heading-paragraph p {
  font-size: 16px;
  line-height: 27px;
  color: #232628;
  font-weight: 300;
}

.heading-span {
  margin-top: 31px;
  display: flex;
  align-items: center;
}

.heading-span span {
  font-size: 16px;
  line-height: 18px;
  color: #475569;
}

.heading-span .info-arrow {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  cursor: pointer;
}

.heading-span .info-arrow img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.social-media-icons {
  margin-top: 62px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.social-media-icons .custom-link {
  width: 26px;
  height: 26px;
  transition: all 0.4s;
  object-fit: contain;
}

.fb-link {
  margin-bottom: 21px;
}

.social-media-icons .facebook-icon {
  width: 24px;
  object-fit: contain;
  height: 24px;
}

.custom-link svg:hover path {
  fill: #9199a5;
}

.social-media-icons .whatsapp-icon {
  width: 28px;
  height: 28px;
  -o-object-fit: contain;
  object-fit: contain;
  /* margin-top: 20px; */
}

.about-us-page {
  background-color: #f2f5fa;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-us-heading {
  margin-top: 64px;
  max-width: 412px;
}

.about-us-heading h2 {
  font-size: 56px;
  font-weight: 400;
  font-family: "BPG WEB 001 Caps", sans-serif;
  border-bottom: 1px solid #fdb417;
  color: #232628;
}

.about-content {
  max-width: 1026px;
  width: 100%;
  padding: 24px 0 58px;
}

.about-content p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #000;
}

.service-heading {
  margin: 120px 0 24px;
}

.service-heading h2 {
  font-size: 56px;
  font-weight: 400;
  color: #232628;
  text-align: center;
  font-family: "BPG WEB 001 Caps", sans-serif;
}

.service-part1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.service-part1 a {
  text-decoration: none;
}

.service-part1 .service {
  position: relative;
  max-width: 49%;
  width: 100%;
  background-color: #f2f5fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
}

.service-part1 .service:last-child {
  margin-left: 24px;
}

.service-part1 .service img {
  width: 290px;
  height: 240px;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  transition: 0.3s ease;
}

.service-part1 .service::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 240px;
  background-color: #475569;
  transition: 0.3s ease;
  opacity: 0;
  right: 0;
  transform: translateY(0);
}

.service-part1 .service:hover::after {
  opacity: 0.6;
}

.service-part1 .service .install-text {
  max-width: 125px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.service-part1 .service .install-text h2 {
  font-family: "BPG WEB 001 Caps", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #232628;
  border-bottom: 1px solid #fdb417;
  transition: 0.3s ease;
}

.service-part1 .service:hover {
  background-color: #475569;
}

.service-part1 .service:hover h2 {
  color: #fff;
  z-index: 1;
}

.contact-heading {
  margin: 120px 0 24px;
}

.contact-heading h2 {
  font-size: 56px;
  font-family: "BPG WEB 001 Caps", sans-serif;
  color: #232628;
  text-align: center;
  font-weight: 400;
}

.contact-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 7px;
  background-color: #f2f5fa;
}

.contact-box .image-contact {
  width: 606px;
  height: 288px;
  -o-object-fit: cover;
  object-fit: cover;
}

.contact-info .contact {
  margin: 22px 80px;
  display: flex;
  align-items: center;
}

.contact-info a {
  text-decoration: none;
  display: flex;
}

.tele-img {
  width: 18px !important;
}

.contact-info img {
  width: 20px;
}

.contact-info .tele {
  color: #232628;
  padding: 0 11px;
}

.contact-info span {
  margin-left: 10px;
  color: #232628;
  font-size: 16px;
  font-weight: 400;
}

/* .footer-page {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid #f2f5fa;
  padding: 25px 15px;
} */

.footer-texts {
  display: flex;
}

.main-about {
  margin: 0 50px;
}

.contact-footer {
  position: relative;
}

.contact-footer .contact {
  padding: 12px 0px;
  display: flex;
  align-items: center;
}

.contact-footer .contact a {
  text-decoration: none;
  color: #475569;
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.contact-footer .contact a span {
  margin-left: 10px;
}

.contact-footer img {
  width: 20px;
}

.copy-text {
  border-top: 1px solid #f2f5fa;
  padding: 16px 102px;
}

.copy-text span {
  font-size: 12px;
  color: #475569;
}

@media only screen and (min-width: 992px) {
  .mobile-menu {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  header {
    display: flex;
    align-items: center;
    padding: 0 0 0 60px;
  }

  .main-logo {
    max-width: 81px;
    width: 100%;
    height: 32px;
    margin: unset;
  }

  .main-logo img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  #home {
    display: flex;
    justify-content: space-between;
    padding: 0 21px;
    position: relative;
  }

  .menu-bar {
    display: block;
    position: relative;
  }

  .menu-bar img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .mobile-menu .mobile-close-click {
    margin: 18px 22px;
    position: relative;
  }

  .mobile-menu .mobile-close-click img {
    width: 30px;
    height: 30px;
    -o-object-fit: contain;
    object-fit: contain;
    right: 3px;
    position: absolute;
  }

  .mobile-service-list {
    border-top: 1px solid #fff;
    margin: 20% 27px;
  }

  .mobile-service-list .mobile-texts {
    display: flex;
    flex-direction: column;
    margin: 7% 2px;
    position: relative;
  }

  .mobile-service-list .mobile-texts li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 10px 0;
    position: relative;
  }

  .mobile-service-list .mobile-texts .service-links {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .mobile-service-list .mobile-texts .service-links li {
    display: inline-block;
    list-style: none;
    font-weight: 700;
  }
  .mobile-service-list .mobile-texts .service-links ul {
    display: flex;
    flex-direction: column;
  }

  .menu-list {
    font-weight: 300;
  }

  .mob_service_dropdown {
    position: relative;
  }

  .mob_service_dropdown.active ~ #mobile-list {
    display: block;
  }

  .mob_service_dropdown:after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/mobile-arrow.svg);
    right: -20px;
    top: 50%;
    transform: rotate(180deg) translateY(40%);
    transition: all 0.2s;
  }

  .mob_service_dropdown.active:after {
    transform: rotate(0deg) translateY(-50%);
  }

  #mobile-list {
    list-style: none;
    display: none;
  }

  .navigation-bar {
    display: none;
  }

  .container {
    max-width: 1240px;
    width: 100%;
    padding: unset;
    margin: 0 auto;
    position: relative;
  }

  .main-container {
    position: relative;
    background-image: url(../images/cover.png);
    width: 100%;
    height: calc(100vh - 18px);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid #f2f5fa;
    padding: 7% 0 0 24px;
    margin: unset;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .main-heading {
    display: block;
    margin-top: 36px;
    max-width: 344px;
  }

  .heading-span {
    margin-top: 20px;
  }

  .main-heading h1 {
    font-size: 32px;
    line-height: 38px;
  }

  .heading-paragraph {
    max-width: 273px;
    margin-top: 18px;
  }

  .heading-paragraph p {
    font-size: 14px;
    line-height: 23px;
  }

  .heading-span span {
    font-size: 14px;
  }

  .social-media-icons .custom-link {
    width: 24px;
    height: 24px;
    transform: all 0.3s;
  }

  .social-media-icons .facebook-icon {
    width: 100%;
    object-fit: contain;
    height: 100%;
  }

  .social-media-icons .whatsapp-icon {
    width: 28px;
    height: 28px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-top: 20px;
  }

  .about-us-page {
    background-color: #f2f5fa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .about-us-heading {
    margin-top: 40px;
    max-width: 235px;
  }

  .about-us-heading h2 {
    font-size: 32px;
    font-weight: 400;
    font-family: "BPG WEB 001 Caps", sans-serif;
    border-bottom: 1px solid #fdb417;
    color: #232628;
  }

  .about-content {
    min-width: 348px;
    width: 100%;
    padding: 21px 24px 40px;
  }

  .about-content p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
  }

  .services-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .service-heading {
    margin: 56px 0 0;
  }

  .service-heading h2 {
    font-size: 32px;
    font-weight: 400;
    color: #232628;
    text-align: center;
    font-family: "BPG WEB 001 Caps", sans-serif;
  }

  .service-part1 {
    display: unset;
    justify-content: space-around;
    margin-bottom: -20px;
    padding: 0 21px;
  }

  .service-part1 a {
    text-decoration: none;
  }

  .service-part1 .service {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: 24px 0;
    background-color: #f2f5fa;
    display: flex;
    align-items: unset;
    justify-content: unset;
    transition: 0.3s ease;
    flex-direction: column;
  }

  .service-part1 .service:last-child {
    margin-left: 0;
  }

  .service-part1 .service img {
    width: 100%;
    height: 200px;
  }

  .service-part1 .service::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #475569;
    transition: 0.3s ease;
    opacity: 0;
    right: 0;
    transform: translateY(0);
  }

  .service-part1 .service:hover::after {
    opacity: 0.6;
  }

  .service-part1 .service .install-text {
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 64px 44px 72px;
    width: 100%;
  }

  .service-part1 .service .install-text h2 {
    font-family: "BPG WEB 001 Caps", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #232628;
    border-bottom: 1px solid #fdb417;
    padding-bottom: 8px;
    transition: 0.3s ease;
  }

  .service-part1 .service:hover {
    background-color: #475569;
  }

  .service-part1 .service:hover h2 {
    color: #fff;
  }

  .contact-heading {
    margin: 56px 0 0;
  }

  .contact-heading h2 {
    font-size: 32px;
    font-weight: 400;
    font-family: "BPG WEB 001 Caps", sans-serif;
    color: #232628;
    text-align: center;
  }

  .contact-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 348px; */
    margin: 21px;
    background-color: #f2f5fa;
    width: 100%;
    width: unset;
    background-color: #f2f5fa;
  }

  .contact-box .image-contact {
    height: 200px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .contact-info {
    padding: 30px 0;
  }

  .contact-info .contact {
    padding: 15px 0;
    display: flex;
    align-items: center;
    margin: unset;
  }

  .contact-info a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .contact-info .tele {
    color: #232628;
    /* margin: 0 32px; */
    padding: 0 9px;
  }

  .contact-info span {
    margin-left: 10px;
    color: #232628;
    font-size: 16px;
    font-weight: 400;
  }

  .footer-page {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    margin-top: 50px;
    border-top: unset;
  }
  .footer-logo {
    margin-top: 51px;
  }

  .footer-texts {
    display: flex;
    flex-direction: column;
    margin: 15px 0 20px;
  }

  .main-about {
    margin: unset;
  }

  .copy-text {
    padding: 16px 50px 37px;
  }
}

/*# sourceMappingURL=style.css.map */

.service-page-container {
  display: flex;
}

.heading-service {
  background-image: url(../images/service-background.png);
  height: 296px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 56px 0 24px;
  background-attachment: fixed;
}

.heading-service h2 {
  color: #fff;
  font-size: 56px;
  font-family: "BPG WEB 001 Caps", sans-serif;
  font-weight: 400;
}

.heading-service h1 {
  color: #fff;
  font-size: 56px;
  font-family: "BPG WEB 001 Caps", sans-serif;
  font-weight: 400;
}

.service-page-1 {
  display: flex;
  align-items: center;
  background-color: #f2f5fa;
  margin: 24px 0;
}

.service-page-1 .page-2 {
  background-color: #475569;
}

.service-page-1 .page-1-text {
  padding: 0 102px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.service-page-1 .page-1-text h2 {
  font-family: "BPG WEB 001 Caps", sans-serif;
  color: #232628;
  font-weight: 400;
  font-size: 24px;
  border-bottom: 1px solid #fdb417;
  padding-bottom: 8px;
}

.service-page-1 .page-1-text .elevator-paragraph {
  margin-top: 32px;
  max-width: 578px;
  width: 100%;
}

.service-page-1 .page-1-text .elevator-paragraph p {
  font-size: 16px;
  color: #232628;
  line-height: 28px;
}

.service-page-1 .page-1-text .elevator-paragraph .paragraph {
  color: #fff;
}

.service-page-1 .page-1-image {
  width: 600px;
  height: 400px;
  padding: 0 15px;
}

.service-page-1 .page-1-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.page-2 {
  background-color: #475569;
}

.page-2 .page-1-text .page-2-header {
  color: #fff;
}

.footer-page {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid #f2f5fa;
  padding: 32px 15px 48px;
  margin-top: 120px;
}

.footer-texts {
  display: flex;
}

.main-about {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-link {
  font-weight: 700;
  padding: 7px 0px 16px;
}

.main-about a {
  text-decoration: none;
  color: #475569;
  display: block;
  padding: 7px 0px 16px;
}

.lists {
  margin-top: 16px;
}

.service-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.service-footer a {
  text-decoration: none;
  color: #475569;
  display: block;
  padding: 7px 0 0;
}

.contact-footer {
  position: relative;
}

.contact-footer .contact a span {
  margin-left: 10px;
}

@media only screen and (max-width: 992px) {
  .main-logo {
    max-width: 81px;
    width: 100%;
    height: 32px;
  }

  .main-logo img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .menu-bar {
    display: block;
    position: relative;
  }

  .menu-bar img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  #home {
    display: flex;
    justify-content: space-between;
    padding: 0 21px;
    position: relative;
    padding: 20px 20px 20px;
  }

  .service-page-container {
    display: flex;
    flex-wrap: wrap;
  }

  .mobile-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #475569;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    visibility: visible;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  }

  .mobile-menu.active {
    visibility: visible;
    transform: translateX(0);
  }

  .mobile-menu .mobile-close-click {
    margin: 18px 22px;
    position: relative;
  }

  .mobile-menu .mobile-close-click img {
    width: 30px;
    height: 30px;
    -o-object-fit: contain;
    object-fit: contain;
    right: 3px;
    position: absolute;
  }

  .mobile-service-list {
    border-top: 1px solid #fff;
    margin: 20% 27px;
  }

  .mobile-service-list .mobile-texts {
    display: flex;
    flex-direction: column;
    margin: 7% 2px;
    position: relative;
  }

  .mobile-service-list .mobile-texts li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 10px 0;
    position: relative;
  }

  .mobile-service-list .mobile-texts .service-links {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .mobile-service-list .mobile-texts .service-links li {
    list-style: none;
    display: inline-block;
  }
  .mobile-service-list .mobile-texts .service-links ul {
    display: flex;
    flex-direction: column;
  }

  .mobile-service-list .mobile-texts .arrow-image {
    width: 12px;
    height: 10px;
    position: absolute;
    -o-object-fit: contain;
    object-fit: contain;
    left: 30%;
    bottom: 12%;
  }

  .navigation-bar {
    display: none;
  }

  .heading-service {
    height: 160px;
    margin: 24px 0 56px;
  }

  .heading-service h2 {
    color: #fff;
    font-size: 32px;
  }

  .service-page-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f5fa;
  }

  .service-page-1 .page-2 {
    background-color: #475569;
  }

  .service-page-1 .page-1-text {
    padding: 33px 20px;
  }

  .service-page-1 .page-1-text h2 {
    font-family: "BPG WEB 001 Caps", sans-serif;
    color: #232628;
    font-weight: 400;
    font-size: 24px;
    border-bottom: 1px solid #fdb417;
    display: inline-block;
    line-height: 33px;
  }

  .service-page-1 .page-1-text .elevator-paragraph {
    margin-top: 24px;
    max-width: 348px;
    width: 100%;
  }

  .service-page-1 .page-1-text .elevator-paragraph p {
    font-size: 16px;
    color: #232628;
    line-height: 28px;
  }

  .service-page-1 .page-1-text .elevator-paragraph .paragraph {
    color: #fff;
  }

  .service-page-1 .page-1-image {
    width: 100%;
    height: 256px;
    padding: unset;
  }

  .page-2 {
    background-color: #475569;
  }

  .page-2 .page-1-text .page-2-header {
    color: #fff;
  }

  .footer-page {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    margin-top: 56px;
    border-top: unset;
    position: relative;
  }

  .footer-page::before {
    content: "";
    width: 348px;
    height: 1px;
    background-color: #f2f5fa;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-texts {
    display: flex;
    flex-direction: column;
    margin: 40px 0 43px;
  }

  .main-about {
    margin: unset;
  }

  .copy-text {
    padding: 16px 50px 37px;
  }
}

/*# sourceMappingURL=services.css.map */

/* width */
/* ::-webkit-scrollbar {
  width: 15px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background-color: #f2f5fa;
  border-radius: 1px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #fdb417;
  border-radius: 1px;
}  */

@media not all and (min-resolution: 0.001dpcm) and (-webkit-min-device-pixel-ratio: 0) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .main-heading {
      font-size: 22px;
      line-height: 32px;
    }
    .main-container {
      background-attachment: unset;
    }
    .heading-service {
      background-attachment: unset;
    }
  }
}
