* {
  margin: 0;

  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}
html {
  scroll-behavior: smooth;
}

// @font-face {
//   font-family: "Helvetica";
//   src: url("./fonts/Helvetica.woff2") format("woff2"),
//     url("./fonts/Helvetica.woff") format("woff");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "BPG WEB 001 Caps";
  src: url("../fonts/bpg-web-001-caps-webfont.eot"); /* IE9 Compat Modes */
  src: url("../fonts/bpg-web-001-caps-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/bpg-web-001-caps-webfont.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/bpg-web-001-caps-webfont.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/bpg-web-001-caps-webfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/bpg-web-001-caps-webfont.svg#bpg_web_001_capsregular")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "BPG WEB 001 Caps";
  src: url(../fonts/bpg-web-001-caps-webfont.eot);
  src: url(../fonts/bpg-web-001-caps-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/bpg-web-001-caps-webfont.woff2) format("woff2"),
    url(../fonts/bpg-web-001-caps-webfont.woff) format("woff"),
    url(../fonts/bpg-web-001-caps-webfont.ttf) format("truetype"),
    url(../fonts/bpg-web-001-caps-webfont.svg#bpg_web_001_capsregular)
      format("svg");
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica.woff2") format("woff2"),
    url("./fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$web-font: "BPG WEB 001 Caps", sans-serif;

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  padding: 0 0 0 60px;
}
.main-logo {
  max-width: 56px;
  width: 100%;
  height: 77px;
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.navigation-bar {
  margin-top: 30px;
  margin-left: 80px;
  ul {
    .li-list {
      position: relative;
      display: inline;
      // &:not(:last-child) {
      margin-right: 40px;
      &:not(:nth-child(3))::after {
        content: "";
        width: 100%;
        height: 2px;
        border-radius: 14px;
        background-color: #f86b05;
        display: inline-block;
        z-index: 1;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%) translateY(10px);
        opacity: 0;
        transition: 0.3s ease;
        // &:not(:nth-child(3)) {

        // }
      }
      &:hover::after {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
      }

      // .arrow {
      //   position: absolute;
      //   top: 27px;
      //   right: -2px;
      //   transform: translateX(-8px);
      //   cursor: pointer;
      // }
      a {
        font-size: 16px;
        text-decoration: none;
        color: #232628;
        position: relative;
        // &:hover::after {
        //   transform: translateX(-50%) translateY(0);
        //   opacity: 1;
        // }
      }
      .service-arrow-image {
        &::before {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url(./ფოტოები/arrow.svg);
          right: -14px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .service-box {
        background-color: transparent;
        position: absolute;
        left: 22%;
        transform: translateX(-20%) translateY(-11px);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        width: 100px;
        cursor: pointer;
        ul {
          background-color: #f2f5fa;
          width: 260px;
          margin-top: 30px;
        }
        li {
          list-style: none;
          transition: 0.3s;
          cursor: pointer;
          a {
            // transition: 0.4s;
            display: block;
            background-color: #f2f5fa;
            padding: 10px;
            &:hover {
              color: #f2f5fa;
              background-color: #475569;
            }
          }
        }
      }
      &:hover .service-box {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.heading-service {
  background-image: url(./ფოტოები/service-background.png);
  height: 296px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  background-attachment: fixed;
  h2 {
    color: #fff;
    font-size: 56px;
    font-family: $web-font;
    font-weight: 400;
  }
}

.service-inner-page {
}

.service-page-1 {
  display: flex;
  align-items: center;
  background-color: #f2f5fa;
  margin: 20px 0;
  .page-2 {
    background-color: #475569;
  }
  .page-1-text {
    padding: 100px 80px;
    h2 {
      font-family: $web-font;
      color: #232628;
      font-weight: 400;
      font-size: 24px;
      border-bottom: 1px solid #f86b05;
      display: inline-block;
    }
    .elevator-paragraph {
      margin-top: 24px;
      max-width: 578px;
      width: 100%;
      p {
        font-size: 16px;
        color: #232628;
        line-height: 1.6;
      }
      .paragraph {
        color: #fff;
      }
    }
  }
  .page-1-image {
    width: 600px;
    height: 400px;
    padding: 0 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.page-2 {
  background-color: #475569;
  .page-1-text {
    .page-2-header {
      color: #fff;
    }
  }
}

.footer-page {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid #f2f5fa;
  padding: 25px 15px;
}
.footer-texts {
  display: flex;
}
.main-about {
  margin: 0 50px;
  a {
    text-decoration: none;
    color: #475569;
    display: block;
    padding: 7px 0;
  }
}
.service-footer {
  a {
    text-decoration: none;
    color: #475569;
    display: block;
    padding: 7px 0;
    // &:first-child {
    //   font-weight: 700;
    // }
  }
}

.contact-footer {
  position: relative;
  .contact {
    // padding: 12px 0;
    // display: flex;
    padding: 12px 0px;
    display: flex;
    align-items: center;
    a {
      // margin-right: 10px;
      text-decoration: none;
      color: #475569;
      display: flex;
      margin-right: 10px;
      span {
        margin-left: 10px;
      }
    }
  }
}
// .bottom-line {
//   width: 1349px;
//   background-color: #f2f5fa;
//   height: 1px;
//   position: absolute;
//   bottom: 0;
// }

.copy-text {
  border-top: 1px solid #f2f5fa;
  padding: 16px 102px;
  span {
    font-size: 12px;
    color: #475569;
    // .copy-sign {
    //   border: 2px solid #475569;
    //   border-radius: 50%;
    // }
  }
}
