* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "BPG WEB 001 Caps";
  src: url("../fonts/bpg-web-001-caps-webfont.eot"); /* IE9 Compat Modes */
  src: url("../fonts/bpg-web-001-caps-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-web-001-caps-webfont.woff2") format("woff2"), url("../fonts/bpg-web-001-caps-webfont.woff") format("woff"), url("../fonts/bpg-web-001-caps-webfont.ttf") format("truetype"), url("../fonts/bpg-web-001-caps-webfont.svg#bpg_web_001_capsregular") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "BPG WEB 001 Caps";
  src: url(../fonts/bpg-web-001-caps-webfont.eot);
  src: url(../fonts/bpg-web-001-caps-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/bpg-web-001-caps-webfont.woff2) format("woff2"), url(../fonts/bpg-web-001-caps-webfont.woff) format("woff"), url(../fonts/bpg-web-001-caps-webfont.ttf) format("truetype"), url(../fonts/bpg-web-001-caps-webfont.svg#bpg_web_001_capsregular) format("svg");
}
@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica.woff2") format("woff2"), url("./fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.elevator-page {
  position: relative;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  padding: 0 0 0 60px;
}

.main-logo {
  max-width: 56px;
  width: 100%;
  height: 77px;
}
.main-logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.menu-bar {
  display: none;
}

.navigation-bar {
  margin-top: 30px;
  margin-left: 80px;
}
.navigation-bar ul .li-list {
  position: relative;
  display: inline;
  margin-right: 40px;
}
.navigation-bar ul .li-list:not(:nth-child(3))::after {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 14px;
  background-color: #f86b05;
  display: inline-block;
  z-index: 1;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  opacity: 0;
  transition: 0.3s ease;
}
.navigation-bar ul .li-list:hover::after {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}
.navigation-bar ul .li-list a {
  font-size: 16px;
  text-decoration: none;
  color: #232628;
  position: relative;
}
.navigation-bar ul .li-list .service-arrow-image::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./images/arrow.svg);
  right: -14px;
  top: 50%;
  transform: translateY(-50%);
}
.navigation-bar ul .li-list .service-box {
  background-color: transparent;
  position: absolute;
  left: 22%;
  transform: translateX(-20%) translateY(-11px);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  width: 100px;
  cursor: pointer;
}
.navigation-bar ul .li-list .service-box ul {
  background-color: #f2f5fa;
  width: 260px;
  margin-top: 30px;
}
.navigation-bar ul .li-list .service-box li {
  list-style: none;
  transition: 0.3s;
  cursor: pointer;
}
.navigation-bar ul .li-list .service-box li a {
  display: block;
  background-color: #f2f5fa;
  padding: 10px;
}
.navigation-bar ul .li-list .service-box li a:hover {
  color: #f2f5fa;
  background-color: #475569;
}
.navigation-bar ul .li-list:hover .service-box {
  opacity: 1;
  visibility: visible;
}

.main-container {
  position: relative;
  background-image: url(./images/cover.png);
  width: 100%;
  height: calc(100vh - 77px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7% 0 0 24px;
}

.main-heading {
  max-width: 788px;
  width: 100%;
  color: #232628;
}
.main-heading h2 {
  font-family: "BPG WEB 001 Caps", sans-serif;
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
}

.heading-paragraph {
  max-width: 449px;
  width: 100%;
  margin-top: 24px;
}
.heading-paragraph p {
  font-size: 16px;
  line-height: 27px;
  color: #232628;
  font-weight: 300;
}

.heading-span {
  margin-top: 31px;
  display: flex;
  align-items: center;
}
.heading-span span {
  font-size: 16px;
  line-height: 18px;
  color: #475569;
}
.heading-span .info-arrow {
  border: 1px solid #475569;
  border-radius: 50%;
  padding: 4px 9px 7px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.social-media-icons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.social-media-icons .custom-link {
  width: 24px;
  height: 24px;
}
.social-media-icons .facebook-icon {
  width: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 24px;
}
.social-media-icons .whatsapp-icon {
  width: 28px;
  height: 28px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 20px;
}

.about-us-page {
  background-color: #f2f5fa;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-us-heading {
  margin-top: 64px;
  max-width: 412px;
}
.about-us-heading h2 {
  font-size: 56px;
  font-weight: 400;
  font-family: "BPG WEB 001 Caps", sans-serif;
  border-bottom: 1px solid #f86b05;
  color: #232628;
}

.about-content {
  max-width: 1026px;
  width: 100%;
  padding: 24px 0 58px;
}
.about-content p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #000;
}

.service-heading {
  margin: 120px 0 24px;
}
.service-heading h2 {
  font-size: 56px;
  font-weight: 400;
  color: #232628;
  text-align: center;
  font-family: "BPG WEB 001 Caps", sans-serif;
}

.service-part1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;
}
.service-part1 a {
  text-decoration: none;
}
.service-part1 .service {
  position: relative;
  max-width: 49%;
  width: 100%;
  background-color: #f2f5fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
}
.service-part1 .service img {
  width: 290px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  transition: 0.3s ease;
}
.service-part1 .service::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 290px;
  height: 240px;
  background-color: #475569;
  transition: 0.3s ease;
  opacity: 0;
  right: 0;
  transform: translateY(0);
}
.service-part1 .service:hover::after {
  opacity: 0.6;
}
.service-part1 .service .install-text {
  max-width: 125px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.service-part1 .service .install-text h2 {
  font-family: "BPG WEB 001 Caps", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #232628;
  border-bottom: 1px solid #f86b05;
  transition: 0.3s ease;
}
.service-part1 .service:hover {
  background-color: #475569;
}
.service-part1 .service:hover h2 {
  color: #fff;
}

.contact-heading {
  margin: 120px 0 50px;
}
.contact-heading h2 {
  font-size: 56px;
  font-family: "BPG WEB 001 Caps", sans-serif;
  color: #232628;
  text-align: center;
}

.contact-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 7px;
  background-color: #f2f5fa;
}
.contact-box .image-contact {
  width: 606px;
  height: 288px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-info .contact {
  padding: 12px 108px;
  display: flex;
  align-items: center;
}
.contact-info a {
  text-decoration: none;
  display: flex;
}
.contact-info .tele {
  color: #232628;
  /* margin: 0 32px; */
  padding: 0 9px;
}
.contact-info span {
  margin-left: 10px;
  color: #232628;
  font-size: 16px;
  font-weight: 400;
}

.footer-page {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid #f2f5fa;
  padding: 25px 15px;
}

.footer-texts {
  display: flex;
}

.main-about {
  margin: 0 50px;
}
.main-about a {
  text-decoration: none;
  color: #475569;
  display: block;
  padding: 7px 0;
}

.service-footer a {
  text-decoration: none;
  color: #475569;
  display: block;
  padding: 7px 0;
}

.contact-footer {
  position: relative;
}
.contact-footer .contact {
  padding: 12px 0px;
  display: flex;
  align-items: center;
}
.contact-footer .contact a {
  text-decoration: none;
  color: #475569;
  display: flex;
  margin-right: 10px;
}
.contact-footer .contact a span {
  margin-left: 10px;
}

.copy-text {
  border-top: 1px solid #f2f5fa;
  padding: 16px 102px;
}
.copy-text span {
  font-size: 12px;
  color: #475569;
}

@media only screen and (max-width: 992px) {
  header {
    display: flex;
    align-items: center;
    padding: 0 0 0 60px;
  }
  .main-logo {
    max-width: 34px;
    width: 100%;
    height: 48px;
  }
  .main-logo img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 100%;
  }
  #home {
    display: flex;
    justify-content: space-between;
    padding: 0 21px;
  }
  .menu-bar {
    display: block;
  }
  .navigation-bar {
    display: none;
  }
  .container {
    max-width: 1240px;
    width: 100%;
    padding: unset;
    margin: 0 auto;
    position: relative;
  }
  .main-container {
    position: relative;
    background-image: url(./images/cover.png);
    width: 100%;
    height: calc(100vh - 18px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid #f2f5fa;
    padding: 7% 0 0 24px;
    margin: 24px 0;
  }
  .main-heading {
    display: block;
    margin-top: 20px;
    max-width: 344px;
    width: 100%;
    color: #232628;
  }
  .main-heading h2 {
    font-family: "BPG WEB 001 Caps", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 32px;
  }
  .heading-paragraph {
    max-width: 273px;
    width: 100%;
    margin-top: 24px;
  }
  .heading-paragraph p {
    font-size: 14px;
    line-height: 1.5;
  }
  .heading-span {
    margin-top: 31px;
    display: flex;
    align-items: center;
    width: 250p;
  }
  .heading-span span {
    font-size: 14px;
    line-height: 18px;
    color: #475569;
  }
  .heading-span .info-arrow {
    border: 1px solid #475569;
    border-radius: 50%;
    padding: 4px 9px 7px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  .social-media-icons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .social-media-icons .custom-link {
    width: 24px;
    height: 24px;
  }
  .social-media-icons .facebook-icon {
    width: 24px;
    -o-object-fit: contain;
       object-fit: contain;
    height: 24px;
  }
  .social-media-icons .whatsapp-icon {
    width: 28px;
    height: 28px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 20px;
  }
  .about-us-page {
    background-color: #f2f5fa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .about-us-heading {
    margin-top: 64px;
    max-width: 235px;
  }
  .about-us-heading h2 {
    font-size: 32px;
    font-weight: 400;
    font-family: "BPG WEB 001 Caps", sans-serif;
    border-bottom: 1px solid #f86b05;
    color: #232628;
  }
  .about-content {
    max-width: 348px;
    width: 100%;
    padding: 24px 0 58px;
  }
  .about-content p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
  }
  .services-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service-heading {
    margin: 56px 0 20px;
  }
  .service-heading h2 {
    font-size: 32px;
    font-weight: 400;
    color: #232628;
    text-align: center;
    font-family: "BPG WEB 001 Caps", sans-serif;
  }
  .service-part1 {
    display: unset;
    justify-content: space-around;
    margin-bottom: unset;
    margin: 0 17px;
  }
  .service-part1 a {
    text-decoration: none;
  }
  .service-part1 .service {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: 18px 0;
    background-color: #f2f5fa;
    display: flex;
    align-items: unset;
    justify-content: unset;
    transition: 0.3s ease;
    flex-direction: column;
  }
  .service-part1 .service img {
    width: 348px;
    height: 200px;
  }
  .service-part1 .service::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 348px;
    height: 100%;
    background-color: #475569;
    transition: 0.3s ease;
    opacity: 0;
    right: 0;
    transform: translateY(0);
  }
  .service-part1 .service:hover::after {
    opacity: 0.6;
  }
  .service-part1 .service .install-text {
    max-width: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 64px 45px;
    width: 100%;
  }
  .service-part1 .service .install-text h2 {
    font-family: "BPG WEB 001 Caps", sans-serif;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 400;
    color: #232628;
    border-bottom: 1px solid #f86b05;
    transition: 0.3s ease;
  }
  .service-part1 .service:hover {
    background-color: #475569;
  }
  .service-part1 .service:hover h2 {
    color: #fff;
  }
  .contact-heading {
    margin: 120px 0 50px;
  }
  .contact-heading h2 {
    font-size: 56px;
    font-family: "BPG WEB 001 Caps", sans-serif;
    color: #232628;
    text-align: center;
  }
  .contact-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 7px;
    background-color: #f2f5fa;
  }
  .contact-box .image-contact {
    width: 361px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact-info .contact {
    padding: 12px 108px;
    display: flex;
    align-items: center;
  }
  .contact-info a {
    text-decoration: none;
    display: flex;
  }
  .contact-info .tele {
    color: #232628;
    /* margin: 0 32px; */
    padding: 0 9px;
  }
  .contact-info span {
    margin-left: 10px;
    color: #232628;
    font-size: 16px;
    font-weight: 400;
  }
  .footer-page {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
  }
  .footer-texts {
    display: flex;
    flex-direction: column;
    margin: 15px 0 20px;
  }
  .main-about {
    margin: unset;
  }
  .copy-text {
    padding: 20px 50px;
  }
}/*# sourceMappingURL=style.css.map */